@charset "utf-8";
/* CSS Document */

body{
	background: #FFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#wrapper{
	background:#09F;
	height:60px;
}

#h1{
	font:Tahoma, Geneva, sans-serif;
	font-size:36px;
	text-align:center;
	margin-left:70px;
	margin-right:70px;
	margin-bottom:13px;
	font-weight:bold;
	}
	
#submit {
	float:left;
    background-color: #09F;
    color:#000;
    font-size: 30px;
	height:50;
	width:50px;
	font-weight:bold;
    text-decoration: none;
    cursor: pointer;
	border-radius:6px;
	border-color:#000;
	margin-left:5px;
	margin-top:5px;
}



#submit:hover {
    background:#06F;
    color:#000;
    font-size: 30px;
	height:50;
	width:50px;
	font-weight:bold;
    text-decoration: none;
    cursor: pointer;
	border-radius:6px;
	border-color:#000;
	margin-left:5px;
	margin-top:5px;
}
