@charset "utf-8";
/* CSS Document */

body{
	background: #CCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#wrapper{
	background:#09F;
	height:60px;
}

#h1{
	display: inline-block;
	font:Tahoma, Geneva, sans-serif;
	font-size:30px;
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
	width:90%
	}
	
#h2{
	font:Tahoma, Geneva, sans-serif;
	font-size:20px;
	text-align:center;
	margin-left:70px;
	margin-right:70px;
	}

	
#back {
	float:left;
	background-color:#09F;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	flex:8px;
	border-radius:8px;
	border:2px solid #000;
	display:inline-block;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	padding:12px 11px;
}

#back:hover {
    background:#06F;
}

#add {
	float:right;
	background-color:#09F;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid #000;
	display:inline-block;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	padding:12px 11px;
}

#add:hover {
    background:#06F;
}


#alarm {
	background:#FFF;
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	height:140px;
}

#form {
	background:#FFF;
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	height:340px;
	text-align: center
}

#textbox {
	width: 150px;
  	padding: 5px;
 	border: 1px solid black;
  	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	-ms-border-radius: 10px;
  	-o-border-radius: 10px;
  	border-radius: 10px;
}

#dropdown {
	width: 110px;
  	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
  	padding: 5px;
 	border: 1px solid black;
 	position: relative;
  	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	-ms-border-radius: 10px;
  	-o-border-radius: 10px;
  	border-radius: 10px;
	background:#999;
}
